.about-main {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-auto-rows: auto;
    grid-template-areas:
    ".. hh .."
    ".. th .."
    ".. mpa .."
    ".. b1 .."
    ".. b2 .."
    ".. b3 .."
    ;

     gap: 0 1em;
}


.home-header-about {
    grid-area: hh;
}

.top-header-about {
    grid-area: th;
}

.mid-paragraph-about{
    grid-area: mpa;
}

.home-blog-1 {
    grid-area: b1;
}
.home-blog-2 {
    grid-area: b2;
}
.home-blog-3 {
    grid-area: b3;
}

.img-blog img {
    width: 11.375em;
    height: 11.375em;
    border-radius: 50%;
    margin: 1em 0;
}

.mid-title-about {

    margin-bottom: 1em;

}
.mid-paragraph-about {
    margin-bottom: 1em;
}

.recentPosts {
    text-align: center;
    margin-top: 2.5em;
    font-size: 1rem;
    font-weight: 700;
}


@media (min-width: 768px) {
    .blog-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "b3 b4 b5"
        ;
        gap: 0 1em;
    }


    .home-blog-3{
        grid-area: b3;

    }
    .home-blog-4{
        grid-area: b4;
    }
    .home-blog-5{
        grid-area: b5;
    }
}